In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('titanic.txt')

In [3]:
from pandas_profiling import ProfileReport

In [4]:
#below two lines are the code which gives the html file with complete EDA of titanic data set

prof=ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [7]:
c=pd.read_csv('Monthly_Food_Retail_Prices.csv')

In [8]:
c.sample(5)

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
216434,Karnataka,Hubli,Rice,Common/Coarse,Kg.,Food,MAY-2015,30.0
497328,Sikkim,Gangtok,Milk,Cow/Buffalo,Litre,Food,SEP-2006,NaN
363215,West Bengal,Asansol,Atta,FAQ,Kg.,Food,MAY-2009,12.5
278942,Uttar Pradesh,Allahabad,Potato,FAQ,Kg.,Food,JUL-2019,18.0
618502,Kerala,Ernakulam,Maida,NaN,Kg.,Food,APR-2020,42.0

In [20]:
ch=c[c['Commodity']=='Chicken']
ch.sample(5)

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
925009,Himachal Pradesh,Shimla,Chicken,Poultry,Kg.,Food,APR-2011,NaN
886750,Madhya Pradesh,Bhopal,Chicken,Poultry,Kg.,Food,JUN-2007,72.0
1013196,Gujarat,Surat,Chicken,Poultry,Kg.,Food,FEB-2020,250.0
825194,Mizoram,Aizwal,Chicken,Poultry,Kg.,Food,APR-2001,110.0
908367,Haryana,Karnal,Chicken,Poultry,Kg.,Food,AUG-2009,100.0

In [22]:
chicken=ch.iloc[:,[0,1,6,7]]

In [33]:
chi=chicken[chicken['State']=='Karnataka'].reset_index()

In [34]:
prof=ProfileReport(chi)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [35]:
chi

     level_0  df_index      State     Centre      Date  Retail Price
0         26    822678  Karnataka  Bangalore  JAN-2001          60.0
1         27    822679  Karnataka    Bijapur  JAN-2001           NaN
2         28    822680  Karnataka      Hubli  JAN-2001           NaN
3         29    822681  Karnataka     Tumkur  JAN-2001          55.0
4        110    823510  Karnataka  Bangalore  FEB-2001          60.0
..       ...       ...        ...        ...       ...           ...
967    20273   1023193  Karnataka     Tumkur  FEB-2021           NaN
968    20354   1024022  Karnataka  Bangalore  MAR-2021         220.0
969    20355   1024023  Karnataka    Bijapur  MAR-2021           NaN
970    20356   1024024  Karnataka      Hubli  MAR-2021           NaN
971    20357   1024025  Karnataka     Tumkur  MAR-2021           NaN

[972 rows x 6 columns]