In [ ]:
import pandas as pd
import numpy as np
import requests

In [ ]:
response =requests.get('https://api.themoviedb.org/3/tv/popular?api_key=4b63febfa9089e4b4f50c1420e14a853&language=en-US&page=1')

In [ ]:
j=response.json()
j

In [ ]:
df=pd.DataFrame(j['results'])[['id','name','original_language','first_air_date','vote_average']]
df

In [ ]:
#to get this data from all the pages we will run the loops

final=pd.DataFrame()
for i in range(1,4000):
    r =requests.get('https://api.themoviedb.org/3/tv/popular?api_key=4b63febfa9089e4b4f50c1420e14a853&language=en-US&page={}'.format(i))
    tdf=pd.DataFrame(r.json()['results'])[['id','name','original_language','first_air_date','vote_average']]
    final=final.append(tdf, ignore_index=True)

In [ ]:
final.shape

In [54]:
#using concat function
final=pd.DataFrame()
for i in range(1,40):
    r =requests.get('https://api.themoviedb.org/3/tv/popular?api_key=4b63febfa9089e4b4f50c1420e14a853&language=en-US&page={}'.format(i))
    tdf=pd.DataFrame(r.json()['results'])[['id','name','original_language','first_air_date','vote_average']]
    final=pd.concat([final,tdf])

In [57]:
final.to_csv('top_shows_webseries.csv',encoding='utf-8')

In [55]:
final

,id,name,original_language,first_air_date,vote_average
0,90802,The Sandman,en,2022-08-05,8.2
1,90521,Love Island,en,2019-07-09,7.1
2,66732,Stranger Things,en,2016-07-15,8.6
3,135647,2 Good 2 Be True,tl,2022-05-16,7.4
4,91759,Come Home Love: Lo and Behold,cn,2017-02-20,8.0
...,...,...,...,...,...
15,115694,Shikimori's Not Just a Cutie,ja,2022-04-10,7.6
16,1930,The Beverly Hillbillies,en,1962-09-26,7.1
17,197064,Never Give Up,ko,2022-05-04,4.3
18,202985,Minato's Laundromat: Wash My Heart!,ja,2022-06-29,0.0
19,94796,Crash Landing on You,ko,2019-12-14,8.8